.catalog-products
	&__container
		display: flex
		flex-wrap: wrap
		margin-left: -10px
		margin-right: -10px
	&_padding
		padding: 50px 0
	
.catalog-products-card
	margin: 20px 10px
	width: calc(100% / 12 * 4 - 20px)
	&__link
		display: block
		padding: 15px 20px
		height: 250px
		box-shadow: 0 4px 13px 2px rgba(0,0,0,.1)
		margin-bottom: em(25)
	&__image
		width: 100%
		height: 100%
		object-fit: contain
	&__title
		font-size: em(18)
		line-height: 1em